@{
    ViewData["Title"] = "AboutUs Page";
}

<div class="text-center">
    <h1 class="display-4">AboutUs</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Name</h1>
<p> Akash Shivaji Ajab</p>

<h1>Address</h1>
<p> at post valati tal ambegaon dist pune</p>