@{
    ViewData["Title"] = "Contact Page";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Email</h1>
<p> akashajab1234@gamil.com</p>

<h1>Address</h1>
<p> at post valati tal ambegaon dist pune</p>