@page
@model productModel
@{
    ViewData["Title"] = "product page";
}

<div class="text-center">
    <h1 class="display-4">Product for sale....</h1>
    <ol>
        <li>
            gerbera
        </li>
        <li>
            rose
        </li>
        <li>
            auster
        </li>
    </ol>
</div>
