@{
    ViewData["Title"] = "Details Page";
}

<div class="text-center">
    <h1 class="display-4">Product Details</h1>
     <p>Title : Rose</p>
     <p> color : Pink</p>
     <p> Description :Wedding Flower </p>
     <p> Unit Price : 50 rs</p>
     <p> Likes :50000</p>
</div>
