@{
    ViewData["Title"] = "Update Page";
}

<div class="text-center">
    <h1 class="display-4">update product</h1>
<hr />
    <input type="text" name="Title"><br/>
    <input type="text" name="color"><br/>
    <input type="text" name="Description"><br/>
    <input type="text" name="Likes"><br/>
    <input type="text" name="UnitPrice"><br/>
</div>
