@using TFLPortal.Models;
@{
    ViewData["Title"] = "Show Page";
}
 



<!DOCTYPE html>
<html>
<head>
    <title>Project List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Ajax call to retrieve data asynchronously
            $.ajax({
                url: '@Url.Action("GetProjects", "Project")',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Handle success
                    console.log(data);
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error(xhr.responseText);
                }
            });
        });
    </script>
</head>
<body>
    <h1>Project List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
         @foreach (var project in Model)
            {
                <tr>
                    <td>@project.Id</td>
                    <td>@project.Title</td>
                    <td>@project.Description</td>
                </tr>
            } 
        </tbody>
    </table>
</body>
</html>


