@model TFLPortal.Models.Project

@{
    ViewData["Title"] = "Insert Project";
}

<h2>Insert Project</h2>

<form id="insertProjectForm">
    <div class="form-group">
        <label for="Title" class="control-label">Title:</label>
        <input type="text" id="Title" name="Title" class="form-control" />
        <span id="titleError" class="text-danger"></span>
        </br>
        <label for="Description" class="control-label">Description:</label>
        <input type="text" id="Description" name="Description" class="form-control" />
        <span id="descriptionError" class="text-danger"></span>
        </br>
        <label for="Status" class="control-label">Status:</label>
        <input type="text" id="Status" name="Status" class="form-control" />
        <span id="statusError" class="text-danger"></span>
        </br>
        <label for="StartDate" class="control-label">Start Date:</label>
        <input type="date" id="StartDate" name="StartDate" class="form-control" />
        <span id="startDateError" class="text-danger"></span>
        </br>
        <label for="EndDate" class="control-label">End Date:</label>
        <input type="date" id="EndDate" name="EndDate" class="form-control" />
        <span id="endDateError" class="text-danger"></span>
    </div>
    </br>

    <button type="button" id="submitProject" class="btn btn-primary">Submit</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#submitProject').click(function () {
            var formData = $('#insertProjectForm').serializeArray();
                

            $.ajax({
                url: '@Url.Action("Insert", "Project")', // URL where the form data will be submitted
                type: 'POST', // HTTP method
                dataType: 'json', // Expected data type of the response
                contentType: 'application/json', // Content type of the request
                data: JSON.stringify(formData), // Form data to be submitted (converted to JSON string)
                success: function (response) {
                    // Handle success
                   // console.log(response);
                    // You can update the UI or perform other actions based on the response here
                },
                error: function (xhr, status, error) {
                    // Handle error
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
